:root {
  --font-family: "Bytesized", sans-serif;
  --font-weight: 100;
  --text-size: 1.6rem;
  --font-style: normal;
  --fg-color: #343a40;
  --bg-color: #ffffff;
}

@font-face {
  font-family: "BerkeleyMono";
  src: url("./resources/BerkeleyMono-Regular.otf");
}

*,*::before,*::after{
  box-sizing:border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: "BerkeleyMono";
}

html{
  scroll-behavior:smooth;
  -webkit-font-smoothing:antialiased
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  font:var(--text-size) var(--font-family);
  font-weight:var(--font-weight);
  color:var(--fg-color);
  background:var(--bg-color);
  transition:background var(--speed),color var(--speed);
  overflow: hidden;
  cursor: pointer;
}

a{
  all: unset;
  color:inherit;
  text-decoration:none;
  position:relative;
  display:inline-block;
  transition:color var(--speed)
}
a:hover::after,a:focus-visible::after{transform:scaleX(1)}
a::after.no-anim{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  animation: none!important
}

.spacer {
  min-height: 8rem;
}