:root {
  --font-family:    "Bytesized";
  --font-weight:    400;
  --text-size:      1rem;
  --font-style:     normal;

  --code-fg-color:  blue;
  --code-bg-color:  #fff;

  --fg-color:       #343a40;
  --bg-color:       #fff;

  --border-color:   #eeeeee; 
}

*,*::before,*::after {
    box-sizing:             border-box;
    -webkit-user-select:    none; /* safari */
    -ms-user-select:        none; /* ie 10 + ie 11 */
    user-select:            none; /* standard syntax */
    font-family:            var(--font-family);
    padding:                0;
    margin:                 0;
    max-width:              100vw;
    max-height:             100vh;
}

html {
  scroll-behavior:          smooth;
  -webkit-font-smoothing:   antialiased;
  min-width:                100vw !important;
  max-width:                100vw !important;
  overflow:                 hidden;
}

body {
    min-width:          100%;
    max-width:          100%;
    display:            flex;
    justify-content:    center;
    align-items:        center;
    font-family:        "Bytesized", sans-serif;
    font-weight:        400;
    font-style:         normal;
    line-height:        1.6em;
    color:              var(--fg-color);
    background:         radial-gradient(circle, white 0%, whitesmoke 100%);
    transition:         background var(--speed), color var(--speed);
    overflow:           auto;
    overflow-wrap:      break-word;
    word-wrap:          break-word;
}

main {
    min-width:          100%;
    max-width:          100%;
    display:            flex;
    justify-content:    center;
    align-items:        center;
}

a {
    all:                unset;
    color:              inherit;
    text-decoration:    none;
    position:           relative;
    display:            inline-block;
    transition:         color var(--speed);
}

a:hover::after,a:focus-visible::after { 
    transform: scaleX(1);
}

a::after.no-anim {
  -webkit-transition:   none !important;
  -moz-transition:      none !important;
  -o-transition:        none !important;
  transition:           none !important;
  animation:            none!important;
}

.spacer {
    min-height: 8rem;
}

.grid-canvas {
    font-family:    "Bytesized", sans-serif;
    font-weight:    400;
    font-style:     normal;
    opacity:        80%;
    padding:        0;
    margin:         0;
}

.blogpost {
    display:        flex;
    flex-direction: column;
    padding:        2rem;
    max-width:      60rem;
    width:          90%;
    overflow:       visible !important;
    overflow-y:     auto; 
    overflow-wrap:  break-word;
    word-wrap:      break-word;
}

.blogpost .code-block {
    align-self: center;
}

.home {
    display:        flex;
    min-width:      100%;
    max-width:      100%; 
    overflow-wrap:  break-word;
    word-wrap:      break-word;
}

.code-block {
    min-width:          56rem !important;
    color:              var(--code-fg-color);
    background-color:   var(--code-bg-color);
    display:            flex;
    flex-direction:     column;
    overflow-y:         auto;
    overflow-x:         scroll;
    overflow-wrap:      normal !important;
    word-wrap:          normal !important;
    padding:            2.6rem;
    border-radius:      0.8rem;
    box-shadow:         rgba(255, 255, 255, 0.05) 0px 30px 60px -8px inset, rgba(255, 255, 255, 0.05) 0px 18px 36px -8px inset;
    border:             1px solid var(--border-color);
}

