/* CSS Variables */
:root {
    --primary-color: #ffffff; /* Soft yellow */
    --secondary-color: #f4f4f4; /* Soft blue */
    --text-color: #282828;
    --subtext-color: #3d3d3d;
    --highlight-color: #ffb814;
    --bg-color: #fff;
    --subbg-color: #ededed;
    --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --transition-speed: 0.3s;
    --text-size: 2.2em;
    --subtext-size: 1.4em;
}

* {
    box-sizing: border-box;
    cursor:pointer;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: calc(100vh - 8em);
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    position: relative;
    z-index: 1;
    background-color: var(--bg-color);
    height: 100%;
    width:100%;
    margin: 0em;
    flex-basis: 50%;
}

.sub-main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: var(--bg-color);
    min-height: 30em;
    max-height: 30em;
    min-width: 30em;
    max-width: 30em;
    padding: 0.2em;
    padding-bottom: 1em;
    margin: 4em;
    border-radius: 4em;
    overflow: hidden;
    background: rgb(241,241,241);
    background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(248,248,248,1) 30%, rgba(255,255,255,0) 100%);
}

.highlight {
    color: var(--highlight-color)
}

.navbar {
    background-color: var(--bg-color);
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    position: sticky;
    min-height: 4em;
    max-height: 4em;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.menu-button {
    position: relative;
    display: flex;
    width: 33%;
}

.menu-button button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.menu-button .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-color);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

.menu-button .dropdown-menu.active {
    display: block;
}

.menu-button .dropdown-menu li a {
    padding: 0.5rem 1rem;
    display: block;
}

.menu-button .dropdown-menu li a:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.profile-button {
    padding-top:0.4em;
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.profile-button button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.profile-button .dropdown-profile {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-color);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

.profile-button .dropdown-profile.active {
    display: block;
}

.profile-button .dropdown-profile li a {
    padding: 0.5rem 1rem;
    display: block;
}

.profile-button .dropdown-profile li a:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.profile-button button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#profile-toggle {
    margin-left: auto;
    right: 0;
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin: 0;
    font-size: var(--subtext-size);
    color: var(--text-color);
}

#about-icon {
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 20em;
    height: 20em;
    overflow: hidden;
    border-radius: 4em;
    animation-name: float;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#about-icon > img {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#header-text {
    padding-top: 1em;
}

.title-header {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 4rem 1rem;
    background-image: linear-gradient(to bottom, #ff000000, var(--primary-color));
    color: var(--text-color);
}

.title-header h2 {
    margin-bottom: 1rem;
    font-size: var(--text-size);
}

.title-header p {
    font-size: var(--subtext-size);
    margin-top: 0;
}

#title-grid {
    position: fixed;
    top: 0;
    width: 120vw;
    height: 100vh;
    overflow:hidden;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0em;
    padding: 0em;
    padding-top: 3.5em;
    block-size: fit-content;
    background-color: #ffffff00;
}

.title-tile {
    display: inline-block;
    height: 3.5em;
    width: 3.5em;
    border: 0.1em solid #e6e6e6;
    background-color: #ffffff00;
    margin: 0em;
    padding: 0em;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    margin: 1em;
    margin-top: 2em;
    padding: 0;
    font-size: 4em;
    font-weight: bolder;
    color: var(--text-color);
}

.text-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: top;
    text-align:center;
    width: 40em;
    margin: 2em;
    font-size: var(--subtext-size);
    font-weight: lighter;
    color: var(--text-color);
}

.section-text {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2em;
}

.bento-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: top;
    height: 80%;
    width: 100%;
    margin: 0em;
    padding: 1em;
    background-color: #ffffff00;
}

.grid-item {
    height: 12em;
    width: 12em;
    background-color: var(--bg-color);
    border: 1px solid #eaeaea;
    text-align: center;
    transition: transform var(--transition-speed);
    margin: 0.6em;
    padding: 0.6em;
    border-radius: 3.4em;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    min-height: 4em;
    max-height: 4em;
    z-index: 1;
    background-color: var(--bg-color);
    border-top: 1px solid #eaeaea;
    text-align: center;
    margin: 0em;
    padding: 1rem;
}

#footer-name {
    display: flex;
    justify-content: right;
    width: 100vw;
    padding-top: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 0.5rem 1rem;
    }

    .menu-button button {
        font-size: 20px;
    }
}


@keyframes float {

    from {
        transform: rotate(5deg) translate3d(0.05em, 0, 0) rotate(5deg);
        -moz-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform:rotate(5deg);
    }
    
    to {
        transform: rotate(-5deg) translate3d(-0.05em, 0, 0) rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform:rotate(-5deg);
    }

}
